<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gassinapps"
        tools:targetApi="31">
        <activity
            android:name=".ui.pages.manager.employee.index.IndexEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.store.index.IndexStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.customer.index.IndexCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.restocktransaction.show.ShowReStockTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.restocktransaction.edit.EditReStockTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.restocktransaction.create.CreateReStockTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.usertransaction.show.ShowUserTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.usertransaction.edit.EditUserTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.usertransaction.create.CreateUserTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.employee.order.show.ShowOrderEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.employee.user.show.ShowUserEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.employee.user.edit.EditUserEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.user.show.ShowUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.user.edit.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.store.show.ShowStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.store.edit.EditStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.store.create.CreateStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.customer.show.ShowCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.customer.edit.EditCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.customer.create.CreateCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.cost.show.ShowCostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.cost.edit.EditCostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.cost.create.CreateCostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.employee.edit.EditEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.employee.show.ShowEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.employee.create.CreateEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.manager.main.ManagerMainActivity"
            android:exported="false"
            android:label="@string/title_activity_employee_main" />
        <activity
            android:name=".ui.pages.employee.main.EmployeeMainActivity"
            android:exported="false"
            android:label="@string/title_activity_manager_main" />
        <activity
            android:name=".ui.pages.signin.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.splashscreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>